/*_____________START HEAD_____________*/
.head {
    color: $white;

    & i {
        margin-right: 10px;
    }

    & label {
        margin-right: 30px;
        font-size: 13px;
    }
}

/*_____________END HEAD_____________*/