@import './header/head';
@import './header/search';
@import './header/navbar';

/*_____________START Header_____________*/
header {
    height: 8vh;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);

    & .navlink {
        height: 8vh;
        display: flex;
        align-items: center;



        & ul {
            & li {
                margin-left: 30px;

                @media (max-width: 768px) {
                    width: 100%;
                    transition: all .5s ease-in-out;
                    text-transform: uppercase;
                    line-height: 70px;
                }

                & a {
                    transition: .5s;
                    font-size: 15px;

                    &:hover {
                        color: $themeColor;
                    }
                }
            }
        }
    }

    & .link {
       @media (max-width: 768px) {
            display: none;
       }
    }
}


.open {
    display: none;
}

.nav-links-MobileMenu {
    @media (max-width: 768px) {
        position: absolute;
        display: block;
        padding-top: 30px;
        left: 0;
        top: 0;
        transition: .5s;
        width: 100%;
        height: 100vh;
        background-color: $white;
        z-index: 888;
        box-shadow: rgba(50, 50, 93, 0.23) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
    }
}

.close,
.open{
    @media (max-width: 768px) {
        position: absolute;
        top: 35px;
        right: 20px;
        color: $themeColor;
        display: block;
        font-size: 25px;
        z-index: 999;
    }
}

.open{
    top: 22%;
    right: 30px;
    background-color: $themeColor;
    color: $white;
    padding: 10px;
}
.close{
    @media (max-width: 768px) {
        right: 10%;
    }


}

.home-btn{
    background: linear-gradient(145deg, #e2e8e6, #fff);
    color: $themeColor;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;

}


/*_____________END Header_____________*/