/*_____________START CATEGORIES_____________*/

.category {
    width: 23%;
    box-shadow: $boxShadow;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;

    &__box {
        transition: .5s;
        padding: 0 20px;

        &:hover {
            background-color: #ffe1ef;
            cursor: pointer;
        }

        & img {
            width: 30px;
            height: 30px;
            margin-top: 10px;
            object-fit: contain;
        }

        & span {
            margin: 10px 20px;
            text-transform: capitalize;
        }
    }
}

.contentWidth {
    width: 77%;
}

/*_____________END HOME_____________*/