/* FONT FAMILY */
$poppins: 'Poppins',
sans-serif;

/* COLORS*/
$white: #fff;
$black: #000;
$grey: #808080;
$bodyText: #72809d;
$themeColor: #e94560;
$secondryColor:#0f3460;
$iconColor: #bec7d8;
$dark: #1d2636;

/* BACKGROUND COLOR */
$bg-light: #f7f9fc;

/* BORDER */
$border: 1px solid rgba(128, 128, 128, 0.2);
$border2: 1px solid #efe8f3;

/* BOX-SHADOW */
$boxShadow: 0 0 20px 0 rgb(112 121 138/ 18%);